
<header class="main-header-1">
    <nav class="navigation">
        <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items"><button type="button" class="btn btn-primary">Admin</button></a>
        <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items"><button>User</button></a>
        <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items"><button>About </button></a>
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items"><button> Contact Us</button></a>      
    </nav>
</header>

<router-outlet></router-outlet>